<div class="feature-contract-view-main-cont">
    <p class="feature-contract-view-head-text">Access your Contracts Here</p>
    <div class="feature-contract-view-contract-status-dropdown-container">
        <p>Change Validity Status</p>
        <div class="feature-contract-view-contract-status-dropdown">
            <button class="feature-contract-view-contract-status-dropbtn">All</button>
            <div class="feature-contract-view-contract-status-dropdown-content">
                <a>All</a>
                <a>Valid</a>
                <a>Expired</a>
            </div>
        </div>

    </div>
</div>